[master]
wb6

[minion]
wb1 role=cassandra
wb2 role=kafka
wb3 role=spark-master
wb4 role=spark-worker
wb5 role=workload

[master:vars]
kubernetes_node_type= master

[minion:vars]
kubernetes_node_type= minion
